@page "/logout"
@using Blazored.LocalStorage
@using DayEaseServices.Services
@using Microsoft.AspNetCore.Components.Authorization;

@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager Navigation
@inject CartService CartService

<h3>Logging out...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        LocalStorage.ClearAsync();
        await CartService.ClearCart();
        Navigation.NavigateTo("/Login");
       
    }
}
