@page "/register"
@using Domain.RequestModels
@using DayEaseServices.Services.IServices
@inject IRegistration RegistrationService

<h3>Register</h3>

<div class="form-group">
    <label>Phone Number</label>
    <input type="text" @bind="PhoneNumber" class="form-control" placeholder="Phone Number" />
</div>

<div class="form-group">
    <label>Country Code</label>
    <input type="text" @bind="CountryCode" class="form-control" placeholder="Country Code" />
</div>

<button class="btn btn-primary" @onclick="RegisterUser">Register</button>

<p class="mt-2">@Result</p>

@code {
    private string PhoneNumber = "";
    private string CountryCode = "+91";
    private string Result = "";

    private async Task RegisterUser()
    {
        try
        {
            var request = new RegistrationRequest
                {
                    PhoneNumber = PhoneNumber,
                    CountryCode = CountryCode
                };

            string response = await RegistrationService.PostAsync<RegistrationRequest,string>(request);

            Result = response;
        }
        catch (Exception ex)
        {
            Result = $"Error: {ex.Message}";
        }
    }
}
